* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #353535;
}
 
header {
  display: flex;
  padding: 8px;
  padding-left: 1em;
  justify-content: space-between;
  position: fixed;
}

.menu {
  padding-top: 10px;
  margin-left: 200px;
}

#footer-menu {
  background-color: #232323;
  margin-top: 78vh;
  width: 25em;
  height: 86px;
  color: white;
  position: fixed;
}

.exit-btn-sett {
  display: flex;
  justify-content: end;
  margin-top: -18px;
  margin-right: 10px;
}

#Logo-in-sett {
  padding-top: 1.5em;
  padding-left: 1.5em;
}


/* Стили для телефона */
@media only screen and (max-width: 767px) {
  .Ficon1 {
    margin-left: 19.4em;
    margin-top: 0.8em; 
  }
  
  .Ficon1 img {
   margin-left: 1em;
  }
  
  .Ficon2 {
    margin-left: 13.2em;
    margin-top: -4.6em;
  }
  
  .Ficon2 img {
    margin-left: 0.5em;
    margin-top: 4px;
   }
  
  .Ficon3 {
    margin-left: 7.4em;
    margin-top: -4.2em;
  }
  
  .Ficon3 img {
    margin-left: 0.4em;
   }
  
  .Ficon4 {
    margin-left: 1.2em;
    margin-top: -4.5em;
  }
  
  .Ficon4 img {
    margin-left: 0.3em;
   }

   #home-main {
    background-color: rgb(73, 73, 73);
    width: 50vh;
    height: 210vh;
   }

   /* Homepage страница */

   .img-baner {
    width: 600px;
    height: 620px;
   }

   .baner h1 {
      color:white;
      margin-top: -7em;
      margin-left: 1em;
      font-size: 32px;
      font-weight: bold;
      padding-bottom: 20px;
   }
   .btn-baner {
    color: white;
    background-color: #FF8A00;
    padding: 10px 20px;
    border-radius: 40px;
    margin-left: 10px;
   }

   .btn-baner2{
    color: white;
    background-color: #00C150;
    padding: 10px 20px;
    border-radius: 40px;
    margin-left: 10px;
   }

   .top-new-anime, .top-anime, .top-announc-anime {
    margin-top: 0.8em;
    display: flex;
   }

   .anime-top #q {
    color: #fff;
    margin-top: 5em;
    margin-left: 3.5em;
    font-size: 20px;

   }

   .top-new-anime > div {
    color: white;
    background-color: black;
    height: 200px;
    width: 150px;
    margin-left: 10px;
    border-radius: 20px;
   }
   .top-anime > div {
    color: white;
    background-color: black;
    height: 200px;
    width: 150px;
    margin-left: 10px;
    border-radius: 20px;
   }
   .top-announc-anime > div {
    color: white;
    background-color: black;
    height: 200px;
    width: 150px;
    margin-left: 10px;
    border-radius: 20px;
   }
   
   /* catalogpage страница  */
   
   #catalog-main {
    background-color: rgb(73, 73, 73);
    width: 50vh;
    height: 100vh;
   }

   .anime-catalog {
    height: 55em;
   }

   .anime-title2 {
    color: white;
    
   }

   .anime-title2{
    padding-top: 6em;
    padding-left: 1em;
    font-size: 20px;
    font-weight: 600;
   }

   .anime-cards {
    display: flex;
    /* background-color: red; */
    width: 25em;
    height: 30em;
    flex-wrap: wrap;
   }

   .anime-cards > div {
    color: white;
    background-color: black;
    height: 200px;
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
   }
   
   /* профиль */

   #auth-profile {
    /* background-color: red; */
    color: white;
    width: 25em;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    margin-top: -50px;
   }

   .Anime {
    /* background-color: red; */
    height: 40em;
    width: 25em;
    display: flex;
   }

   .Anime-title {
    /* background-color: red;  */
    height: 100em;
    width: 50em;
    padding-top: 100px;
    color: white;
   }
   #input-auth input {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 10px;
   }
   #input-auth button {
    background-color: black;
    margin-left: 200px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 10px;
   }

   .Anime-title img{
    margin-left: 50px;
    border-radius: 10px;
   }
}

/* Стили для планшета и ноутбука */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Дополнительные стили для планшета и ноутбука */
}

/* Стили для компьютера */
@media only screen and (min-width: 1025px) {
  /* Дополнительные стили для компьютера */
}


#hide {
  color: #353535;
}